@model IEnumerable<MySteam.Models.SimpleGameModel>

@{
    ViewData["Title"] = "Games";
}

<h2>Games</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.playtime_forever)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.img_icon_url)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.img_logo_url)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.has_community_visible_stats)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.playtime_2weeks)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.playtime_forever)
            </td>
            <td>
                <img src=@Html.DisplayFor(modelItem => item.UsableImgIconUrl) />
            </td>
            <td>
                <img src=@Html.DisplayFor(modelItem => item.UsableImgLogoUrl) />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.has_community_visible_stats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.playtime_2weeks)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.appid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.appid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.appid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
